<div class="input-page-container">
    <h2>CREATE YOUR OWN TOUR</h2>
    <p>Create your own tour!</p>
    <h3 class="form-title">LET'S CREATE!</h3>
    <br />
    <form class="create-form form-group">
        <label for="tour-title">
            TOUR TITLE:
        </label>
        <br />
        <input class="form-control" id="title" name="title" placeholder="Tour Title">
        <br />
        <div class="form-group">
            <label for="description">
                DESCRIPTION:
            </label>
            <textarea class="form-control" id="description" rows="3" placeholder="Descrive your tour!"></textarea>
        </div>
        <br />
        <div class="form-group">
            <label for="city">
                CITY:
            </label>
            <select name=”item” class="form-control" id="city">
                <option selected> City </option>
                <option value=”item1”>Sydney</option>
                <option value=”item2”>Brisbane</option>
                <option value=”item3”>Melbourne</option>
            </select>
        </div>

        <br />
        <label for="place">
            PLACE:
        </label>
        <br />
        <input class="form-control" id="place" name="place" placeholder="Place">
        <br />
        <div class="form-group">
            <label for="place">
                DIFFICULTY:
            </label>
            <select name=”item” class="form-control" id="difficulty">
                <option selected> Difficulty </option>
                <option value=”item1”>Easy</option>
                <option value=”item2”>Moderate</option>
                <option value=”item3”>Hard</option>
            </select>
        </div>
        <br />
        <div class="form-group">
            <label for="category">
                CATEGORY:
            </label>
            <br />
            <select name=”item” class="form-control" id="category">
                <option selected> Category </option>
                <option value=”item1”>Site Seeing</option>
                <option value=”item2”>Escape the City</option>
                <option value=”item3”>Physical Activity</option>
                <option value=”item4”>Food and Drink</option>
                <option value=”item5”>Sport and Culture</option>
            </select>
        </div>
        <br />
        <div class="form-group">
            <label for="image">
                TOUR IMAGE:
            </label>
            <br />
            <select name=”item” class="form-control" id="image">
                <option selected> Image Name </option>
                <option value=”item1”>site_seeing(art).jpg</option>
                <option value=”item2”>site_seeing(city).jpg</option>
                <option value=”item3”>site_seeing(harbour).jpg</option>
                <option value=”item4”>site_seeing(market).jpg</option>
                <option value=”item6”>escape_the_city(animal).jpg</option>
                <option value=”item7”>escape_the_city(mountain).jpg</option>
                <option value=”item8”>physical_activity(bike).jpg</option>
                <option value=”item9”>physical_activity(kayak).jpg</option>
                <option value=”item10”>physical_activity(surf).jpg</option>
                <option value=”item11”>food_and_drink(cafe).jpg</option>
                <option value=”item12”>food_and_drink(group).jpg</option>
                <option value=”item13”>food_and_drink(pub).jpg</option>
                <option value=”item14”>sport_and_culture(studium).jpg</option>
                <option value=”item15”>sport_and_culture(studium2).jpg</option>
                <option value=”item16”>sport_and_culture(studium3).jpg</option>

            </select>
        </div>
        <br />
        <label for="person-limit">
            PERSON LIMIT:
        </label>
        <br />
        <input class="form-control" id="person-limit" name="person-limit" placeholder="20">
        <br />
        <label for="cost">
            PRICE:
        </label>
        <br />
        <input class="form-control" id="cost" name="cost" placeholder="100">
        <br />
        <div class="btn-wrap">
            <button value="Submit" type="submit" class="btn btn-warning">
                SUBMIT
            </button>
        </div>
    </form>

    {{#if tours.length}}
    <div class="my-tour-list">
        <h3 class="form-title">MY TOUR LIST</h3>
        <div class="card-group row">
            {{#each tours as |tour|}}
            <div class="card col-sm-4" style="width: 18rem">
                <img class="card-img-top img-thumbnail" src="img/98.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{tour.title}}</h5>
                    <a href="/update/{{}}" class="btn btn-warning">UPDATE</a>
                    <button class="btn btn-primary delete-btn" data-id="{{tour.id}}">DELETE</button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>
<script src="./js/create.js"></script>