<div>
    <div class="input-page-container">
        <nav>
            <select class="form-control" id="city">
                <option selected> City </option>
                <option>Sydney</option>
                <option>Brisbane</option>
                <option>Melbourne</option>
            </select>
            <select class="form-control" id="category">
                <option> all </option>
                <option>Site Seeing</option>
                <option>Escape the City</option>
                <option>Physical Activity</option>
                <option>Food and Drink</option>
                <option>Sport and Culture</option>
            </select>
            <div class="btn-wrap">
                <button class="btn btn-warning search-btn">
                    SEARCH
                </button>
            </div>
        </nav>
        {{!-- {{#if tours.length}} --}}
        <div class="my-tour-list">
            <h3 class="form-title">FIND OUT YOUR FAVORITE TOUR</h3>
            <div class="card-group row">
                {{#each tours}}
                <div class="card col-sm-4" style="width: 18rem">
                    <img class="card-img-top img-thumbnail" src="./img/{{img_name }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <a href="/tours/{{id}}" class="btn btn-warning">DETAIL</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{!-- {{/if}} --}}
    </div>
    <script src="./js/homepage.js"></script>
</div>