<div class="input-page-container">
    <h2>WElCOME TO TRAVEL COMPANION</h2>
    <p>Please log in to your account from this page. Input your Emain and Password.</p>
    <h3 class="form-title">LOG IN</h3>
    <br />
    <form class="login-form form-group">
        <label for="email">
            E-MAIL ADDRESS
        </label>
        <br />
        <input class="form-control" id="email-login" name="email" placeholder="Email">
        <br />
        <label for="password">
            PASSWORD
        </label>
        <br />
        <input class="form-control" id="password-login" name="password" placeholder="Password">
        <br />
        <br />
        <div class="btn-wrap">
            <button value="Submit" type="submit" class="btn btn-warning">
                Log in
            </button>
        </div>
    </form>
</div>
<script src="./js/login.js"></script>