<div class="input-page-container">
    <h2>LET'S START TRAVEL COMPANION</h2>
    <p>Please sign up to create your account from this page. Inside user page, you can create your own tour. Input
        your detail.</p>
    <h3 class="form-title">SIGN UP</h3>
    <br />
    <form class="singup-form form-group">
        <label for="user_name">
            USER NAME
        </label>
        <br />
        <input class="form-control" id="user_name-signup" name="user_name" rows="1" placeholder="User Name">
        <br />
        <label for="email">
            E-MAIL ADDRESS
        </label>
        <br />
        <input class="form-control" id="email-signup" name="email" rows="1" placeholder="Email">
        <br />
        <label for="password">
            PASSWORD
        </label>
        <br />
        <input class="form-control" id="password-signup" name="password" rows="1" placeholder="Password">
        <br />
        <br />
        <div class="btn-wrap">
            <button value="Submit" type="submit" class="btn btn-warning">
                Submit
            </button>
        </div>
    </form>
</div>
<script src="./js/signup.js"></script>